<div js-isinview data-scrollhash='placement' class='section_placement section block'>
    <div class='section__wrapper block__wrapper'>
        <div class='section__header'>
            <div js-kit-stacking class='section__kit_placement section__kit'>
                <div class='kit_vertical kit'>
                    <div class='kit__list'>
                        <div class='kit__list-wrapper'>
                            <div class='kit__list-item kit-item_type_plus kit-item'>
                                <div class='kit-item__icon'></div>
                            </div>
                            <div class='kit__list-item kit-item_type_placement kit-item'>
                                <div class='kit-item__icon'>
                                    <img src='images/kit/placement.svg' alt=''>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class='section__title'>РАЗМЕЩЕНИЕ</h2>
            <div class='section__texts'>
                <div class='section__texts-main'>
                    <div class='section__descr'>
                        <p>Выберите один из двух теплоходов - "Николай Карамзин" или "И.А.Крылов" - и подходящую вам каюту.</p>
                    </div>
                </div>
                <div class='section__texts-side'>
                    <div class='section__subtitle'>Стоимость проживания начинается <br><b>от&nbsp;2330 рублей в&nbsp;сутки</b></div>
                </div>
            </div>
        </div>
        <div class='section__info'>
            <div js-ship class='info'>
                <div class='ship__info'>
                    <div class='info_placement info'>
                        <div class='ship__info-list info__list'>
                            <div js-ship-info-item data-item-type='standart' js-info-item-collapse class='info-item info__list-item'>
                                <h3 js-info-item-title class='info-item__title'><i class='info-item__title-icon info-item__icon'><img src='images/info/circle-yellow.svg' alt=''></i><span class='info-item__title-text'>Стандарт</span></h3>
                                <div js-info-item-descr class='info-item__descr'>
                                    <p>1-, 2-, 3- и&nbsp;4-местные каюты с&nbsp;односпальными кроватями и&nbsp;основными удобствами.</p>
                                </div>
                            </div>
                            <div js-ship-info-item data-item-type='lux-half' js-info-item-collapse class='info-item info__list-item'>
                                <h3 js-info-item-title class='info-item__title'><i class='info-item__title-icon info-item__icon'><img src='images/info/circle-purple.svg' alt=''></i><span class='info-item__title-text'>Полулюкс</span></h3>
                                <div js-info-item-descr class='info-item__descr'>
                                    <p>Каюты с&nbsp;двуспальной кроватью, диваном, холодильником, телевизором и&nbsp;феном.</p>
                                </div>
                            </div>
                            <div js-ship-info-item data-item-type='lux' js-info-item-collapse class='info-item info__list-item'>
                                <h3 js-info-item-title class='info-item__title'><i class='info-item__title-icon info-item__icon'><img src='images/info/circle-green.svg' alt=''></i><span class='info-item__title-text'>Люкс</span></h3>
                                <div js-info-item-descr class='info-item__descr'>
                                    <p>Просторные двухкомнатные каюты с&nbsp;кроватью, диваном, кухней, телевизором, феном, сейфом и&nbsp;другими удобствами.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class='section__info-right'>
                    <div style="background-color: #fff;padding:10px 10px 10px 10px;margin: 0 5px 40px 20px;float:right;">
                        <img src="images/ship/krylov.jpg" width="320" height="300" />
                        <p style="text-align: center;padding-top:15px;font-weight:bold;">т/х И.А.Крылов</p>

                    </div>
                    <div style="background-color: #fff;padding:10px 10px 10px 10px;margin: 0 5px 40px 20px;float:right;">
                        <img src="images/ship/karamzin.jpg" width="320" height="300" />
                        <p style="text-align: center;padding-top:15px;font-weight:bold;">т/х Николай Карамзин</p>
                    </div>

                </div>-->
            </div>
        </div>
    </div>
</div>